{{- define "main" -}}
<div class="wrapper list-page">
    <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
    </header>
    <main class="page-content" aria-label="Content">
        {{/* Get all regular pages in poetry section */}}
        {{ $pages := where .Site.RegularPages "Section" "poetry" }}

        {{ range $pages.GroupByDate "2006" }}
        {{ $year := .Key }}
        <h2 class="post-year">{{ $year }}</h2>

        {{ range .Pages }}

        <article class="post-item">
            <h4 class="post-item-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h4>
            {{ $ISO_date := "2006-01-02T15:04:05Z0700" }}
            {{ $configDateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
            <time class="post-item-meta" datetime="{{ dateFormat $ISO_date .Date }}">
                {{ time.Format $configDateFormat .Date }}
            </time>
            {{ with .Params.description }}
            <p class="post-item-description">{{ . }}</p>
            {{ end }}
        </article>

        {{ end }}

        {{ end }}

    </main>
</div>
{{- end -}}
